<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>データ一覧</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>PASSWORD</th>
            <th>MAILADDRESS</th>
            <th>削除</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td><a href="/delete/?id={{record[0]}}">削除</a></td>
        </tr>
        {% endfor %}
        <tr>
            <th>データ追加</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>パスワード</th>
            <th>メールアドレス</th>
        </tr>
        <tr>
            <form action="/create/" method="post">
                <td><input type="text" name="id"></td>
                <td><input type="text" name="name"></td>
                <td><input type="password" name="password"></td>
                <td><input type="text" name="email"></td>
                <td><input type="submit" value="追加"></td>
            </form>
        </tr>
    </table>
</body>

</html>