<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メール送信</title>
</head>
<body>
    <h1>メール送信プログラム</h1>
    <form action="/check" method="post">
        <table>
            <tr>
                <td>送信元アドレス：</td>
                <td><input type="mail" name="from" value="" placeholder="送信元アドレス"></td>
            </tr>
            <tr>
                <td>送信先アドレス：</td>
                <td><input type="mail" name="to" value="" placeholder="送信先アドレス"></td>
            </tr>
            <tr>
                <td>サブジェクト：</td>
                <td><input type="text" name="subject" value="" placeholder="サブジェクト"></td>
            </tr>
            <tr>
                <td>メッセージ：</td>
                <td><input type="text" name="message" value="" placeholder="メッセージ"></td>
            </tr>
        </table>
        <input type="submit" value="送信">
    </form>
    
</body>
</html>